@model IEnumerable<ECommerce.Core.Entities.CategoryType>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container position-relative">
    <h1>Starter Page</h1>
    <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
    <nav class="breadcrumbs">
        <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Starter Page</li>
            <ul>
             @foreach(var CategoryType in Model)
            {   
                <li>
                <h4>@CategoryType.Name</h4>
                <ul>

                    @foreach(var product in CategoryType.products)
                    {
                        <li>
                            <a asp-action="productDetails" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a>
                        </li>
                    }
                </ul>
                </li>
                 
            }
         </ul>
        </ol>
    </nav>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
