@{
    ViewData["Title"] = "Home Page";
}
<div class="container position-relative">
    <h1>Starter Page</h1>
    <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
    <nav class="breadcrumbs">
        <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Starter Page</li>
        </ol>
    </nav>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
