@model E_Commerce1.ViewModels.AddProductViewModel

@{
    ViewData["Title"] = "AddProduct";
}
<div class="d-flex justify-content-center align-items-center " style="pading:50px">
        <form asp-controller="Product" enctype="multipart/form-data">

<h5>AddProduct</h5>

<hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="form-label mt-4"></label>
                <input asp-for="ProductName" type="text" class="form-control" placeholder="Enter the product name" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="form-label mt-4"></label>
                <select asp-for="categoryId" class="form-select" asp-items="Model.Categories" >

                    <option value="">select a category</option>
                </select>
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryTypeId" class="form-label mt-4"></label>
                <select asp-for="CategoryTypeId" class="form-select" asp-items="Model.CategoryTypes">
                <option value="">select a categoryType</option>

                </select>
                <span asp-validation-for="CategoryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div lass="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="productImages" class="form-label mt-4"></label>
                <input type="file" class="form-control" asp-for="productImages" />
                       

                <span asp-validation-for="productImages" class="text-danger d-blocked"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
